@model IEnumerable<AppScolaritePlus.Models.Parcours>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">

      
      <div class="container text-center py-5 py-md-6">
    <h1 class="display-3 mb-5">Nos Sessions</h1>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xxl-8">
        <figure>
          <blockquote class="blockquote text-center">
            <p class="fst-italic">Ajouter un Parcour.</p>
          </blockquote>
          <a asp-action="Create" class="btn btn-warning my-2">Cree</a>
        </figure>
      </div>
    </div>
  </div>


      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
              @{
    

        @if (Model != null)
        @foreach (var item in Model)
    {
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top"  src="~/LogosParcours/@item?.Logo" alt="@item?.Logo" style="height: 225px; width: 100%; display: block;"  data-holder-rendered="true">
                <div class="card-body">
                <h2 class="card-title text-warning align-content-center">@item.Intitule</h2>
                  <p class="card-text align-content-center">@item?.Resume</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Editer</a>
                      <a asp-action="Details"  asp-route-id="@item.Id"  class="btn btn-sm btn-outline-secondary">Details</a>
                      <a asp-action="Delete"  asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>

                    </div>
                    <small class="text-muted"> <a asp-action="Index"  asp-asp-controller="SessionsForamtions" class="btn btn-sm btn-outline-secondary">S'inscrire</a></small>
                  </div>
                </div>
              </div>
            </div>
             }
   
}
          </div>
        </div>
      </div>

    </main>


   