@model AppScolaritePlus.Models.Utilisateurs

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-md-n6 px-3 px-md-0">
        <div class="row justify-content-center py-4 py-lg-5">
          <div class="col-md-10 col-lg-8">
            <div>
             <h1>Créer</h1>
             <h4>Un compte</h4>
            </div>
             <form class="py-3" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="mb-4">
                <label asp-for="Email" class="form-label">Email <span class="text-secondary">*</span></label>
                <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="Entrez votre Email" required="">
              </div>
              <div class="mb-4">
                <label asp-for="Nom" class="form-label">Nom <span class="text-secondary">*</span></label>
                <input asp-for="Nom" type="text" class="form-control" id="inputName" placeholder="Entrez votre Nom" required="">
              </div>
              <div class="mb-4">
                <label asp-for="Adresse"class="form-label">Adresse <span class="text-secondary">*</span></label>
                <textarea asp-for="Adresse" class="form-control" id="messageTetxarea" rows="2" placeholder="Entrez votre Adresse" required=""></textarea>
              </div>
               <div class="mb-4">
                <label asp-for="DateNaissance" class="form-label">Date de Naissance <span class="text-secondary">*</span></label>
                <input asp-for="DateNaissance"  type="Date" class="form-control" id="inputDateNaissance" placeholder="Entrez votre Date de Naissance" required="">
              </div>
               <div class="mb-4">
                <label  asp-for="SessionsFormation" class="form-label">Sessions <span class="text-secondary">*</span></label>
                <select asp-for="SessionsFormationId"   type="Date" class="form-control" id="selectFormation" placeholder="Lier votre Foramtion" required=""></select>
              </div>
              <div class="mb-4 form-check">
                <input type="checkbox" class="form-check-input" id="inputCheck">
                <label class="form-check-label small" for="inputCheck">J'accepte les conditions' <a href="#" class="link-underline">terms et conditions</a></label>
              </div>
              <button type="submit" class="btn btn-dark">Créer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
