@model AppScolaritePlus.Models.SessionsFormation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-md-n6 px-3 px-md-0">
        <div class="row justify-content-center py-4 py-lg-5">
          <div class="col-md-10 col-lg-8">
           <div style="text-align: center">
               <h1>Créer</h1>
               <h4>Session</h4>
           </div>
            <form class="py-3" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="mb-4">
                <label asp-for="Nom" class="form-label"> Nom <span class="text-secondary">*</span></label>
                <input asp-for="Nom"  type="text" class="form-control" id="inputName" placeholder="Entrer votre Nom" required="">
              </div>
              <div class="mb-4">
                <label asp-for="DateDebut" class="form-label">Date de Debut <span class="text-secondary">*</span></label>
                <input type="date" asp-for="DateDebut"  class="form-control" id="ResumeTextarea" placeholder="Date de Debut"  required="">
              </div> 
              <div class="mb-4">
                <label asp-for="DateFin" class="form-label">Date de Fin <span class="text-secondary">*</span></label>
                <input type="date" asp-for="DateFin"  class="form-control" id="ResumeTextarea" placeholder="Date de Fin"  required="">
              </div>
              <div class="mb-4">
                <label asp-for="Parcours"  class="form-label"> Parcours <span class="text-secondary">*</span></label>
                <select asp-for="ParcoursId" class ="form-control" asp-items="ViewBag.ParcoursId" placeholder="Parcours Lié"></select>
            </div>
              <button type="submit"  value="Create" class="btn btn-dark">Créer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
